/****** Object:  Database [TaskManagementDB]    Script Date: 10/29/2020 11:50:08 AM ******/
CREATE DATABASE [TaskManagementDB]  (EDITION = 'Standard', SERVICE_OBJECTIVE = 'S0', MAXSIZE = 250 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[Quote]    Script Date: 10/29/2020 11:50:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quote](
	[QuoteId] [int] IDENTITY(1,1) NOT NULL,
	[QuoteType] [nvarchar](50) NULL,
	[Contact] [nvarchar](50) NULL,
	[TaskDescription] [nvarchar](300) NULL,
	[DueDate] [date] NULL,
	[TaskType] [nvarchar](50) NULL,
	[UserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuoteId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/29/2020 11:50:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[UserRole] [nvarchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Quote] ON 

INSERT [dbo].[Quote] ([QuoteId], [QuoteType], [Contact], [TaskDescription], [DueDate], [TaskType], [UserId]) VALUES (1, N'DYR', N'Sale Person', N'Get new sales report', CAST(N'2020-10-27' AS Date), N'New', 1)
INSERT [dbo].[Quote] ([QuoteId], [QuoteType], [Contact], [TaskDescription], [DueDate], [TaskType], [UserId]) VALUES (2, N'BR', N'Manager', N'Get updates on the current project', CAST(N'2020-10-27' AS Date), N'Follow up', 1)
INSERT [dbo].[Quote] ([QuoteId], [QuoteType], [Contact], [TaskDescription], [DueDate], [TaskType], [UserId]) VALUES (3, N'DYR', N'Sale Person', N'Get new sale quotation', CAST(N'2020-10-27' AS Date), N'New', 2)
SET IDENTITY_INSERT [dbo].[Quote] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [UserName], [Password], [Email], [FirstName], [LastName], [UserRole]) VALUES (1, N'John@gmail.com', N'John@123', N'John@gmail.com', N'John', N'Doe', N'User')
INSERT [dbo].[User] ([UserId], [UserName], [Password], [Email], [FirstName], [LastName], [UserRole]) VALUES (2, N'Rose@gmail.com', N'Rose@123', N'Rose@gmail.com', N'Rose', N'Smit', N'User')
INSERT [dbo].[User] ([UserId], [UserName], [Password], [Email], [FirstName], [LastName], [UserRole]) VALUES (3, N'Jane@gmail.com', N'Jane@123', N'Jane@gmail.com', N'Jane', N'Doe', N'User')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Quote]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
ON UPDATE CASCADE
GO
